# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Data
# =========================
data/raw/
data/processed/

# =========================
# Machine Learning Models
# =========================
*.pt
*.pth
*.ckpt
*.onnx

# =========================
# Logs / Experiment Outputs
# =========================
logs/
wandb/
mlruns/

# =========================
# Temporary Files
# =========================
*.tmp
*.temp